.pessoa__imagem {
    background: red;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}

.pessoa__imagem--roberta {
    background-image: url('../../img/pessoas/roberta.jpg');

}

.pessoa__imagem--marcela {
    background-image: url('../../img/pessoas/marcela.jpg');

}

.pessoa__imagem--andreia {
    background-image: url('../../img/pessoas/andreia.jpg');
}

@media screen and (min-width: 768px) {
    .pessoa__imagem {
        height: 250px;
        width: 250px;
    }
}

@media screen and (min-width: 992px) {
    .pessoa__imagem {
        height: 300px;
        width: 300px;
    }
}